.App{
  margin:auto;
}

.appButton{
  text-align: center;
  margin:25px auto;
  width: 25%;
  min-height:200px;
  background-color: #e0e0e0;  
  padding:20px 0px 20px 0px;
  position:relative;
  border-radius: 5px;
}


.appButtonSubtext{
  margin-bottom: 25px;
}